<div class="bg-white flex justify-between p-5 m-6 py-8 text-black " id="<%= dom_id category %>">
  <div class="basis-16"><%= category.icon%></div>
  <div><%= category.name%></div>
  <div><%= category.total_amount%>$</div>
</div>
