  <div class="blue flex justify-center py-4 text-white"><%= link_to "Back", categories_path %></div>

<section class="mx-auto h-screen flex flex-col justify-center items-center">
  <div class="bg-white p-8">
    <div class="grow flex  flex-col justify-center items-center">
      <h1>New category</h1>
      <%= render "form", category: @category %>

    </div>

  </div>
</section>




